		
		
		.col-sm-12
		{
		padding:0;
		margin:0;
		}
		
		
		.main_img_first a {
			position: relative;
			padding-top: 88vh;
			padding-left: 50vw;
			padding-bottom: 12vh;
			color: grey;
			
		}
		.main_img_first a:hover
		{
				color:white;
			text-decoration:none;
		}
		.main_img_first span
		{
			padding:3%;
		}
		
		.navigation_bar 
		{
			background-color:	#888888 ;
		}
		
		.navigation_bar a
		{
			font-size:18px;
		}
		
		
		.main_img
		{
		background-image: url("images/about_background.png") !important;
		background-size: 100% 100%;
	    background-repeat: no-repeat;
		height:720px;
		}
		
		
		
		.pic {

width: 100%;
 overflow: hidden;


       
}
.pic span
{	
	color:black;
	position:absolute;
	z-index:10;
	left:85%;
	padding:4%;
	display:none;
	font-size:30px;
	
}
.pic:hover span
{
	
	display:block;
}


.pic img {
  
  width: 100%;
  transition: all 1s ease;
   z-index:-1;
   
}

.pic img:hover {
  width: 110%;
	opacity:.6;
  
  
}


.gallery	
{
	margin:auto;
	width:65%;
	
	overflow:hidden;


}
	
.gallery_heading
{
	font-size:35px;
	color:#505050 ;
	font-style:"Alpha54 Regular";
	margin:auto;
	text-align:center;
	margin:4% 0;
	letter-spacing: 3px;
	
	
}
.modal-dialog
		{
		width:100%;!important
	
		margin:auto;
	
		}
		.modal-body
		{
		padding:0;}
		.modal-header 
		{
		border:transparent;}
		.modal-content
		{
		background-color:black;!important
		opacity:0.6;
	
		}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 5%; 
	width: 100%; 
    height: 100%;
	background-color: rgba(0,0,0,0.9); 
}


.modal-content {
    margin: auto;
    display: block;
	height:90%;
    }		
		
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
		
		
		
		.about
		 {
		background-color:#151515;
		padding-top:5%;
		
		}
		.text
		{
			padding:5% 5% 2% 0px;
			width:90%;
			 color:#505050 ;
		}
		.heading
		{
		font-size:35px;
		}
		.heading_content
		{
		font-size:16px;
		line-height: 25px;
		padding-top: 15px;
		}
		.heading_sub
		{
			font-size:22px;
			padding:15px 0px 10px 0px;
		}
		
		
		
		.form-control
		{
		margin-top:25px;
		}
		.contact
		{
		
		background-color:#151515;
		padding:2% 0%;
	
		}
		
		.form-control:focus
		{
		border-color: transparent;
		border-bottom:2px solid grey;
		box-shadow:none;
		}
		.contact button
		{
			background-color:#C8C8C8;
		margin-bottom:25px;
		padding:0%;
		color:	#484848 ;
		border-color:#101010 ;
		
		}
	    .contact button:hover
	    {
	    background-color:#A0A0A0 ;
		box-shadow:none;
		color:black;
		border-color:#101010 ;
		}
		.contact button:focus
		{
			box-shadow:none;
			border-color: transparent;
		}
		.contact form
		{
		margin-top:25px;
		}
		.my_contact span
		{
			display:block;
			font-size:16px;
		line-height: 25px;
		}
		.contact img
		{
			padding-left:3%;
		}
		
		.footertext 
		{	width:10%;
			margin:auto;
			
			font-size:25px;
		}
		.footertext i
		{	padding:2%;
		}