

.gallary	
{
	margin:auto;
	width:62%;

}

.row
{margin:0px;!important
}
.col-sm-6
{
	padding:0px;!important

}
.col-sm-12
{
	padding:0px;!important
}

 
.pic {

width: 100%;
 overflow: hidden;


       
}
.pic_bottom
{
background-color:grey;	
z-index:10;
position:absolute;
left:90%;
padding:2%;
font-size:20px;
color:black;
}

.pic img {
  
  width: 100%;
  transition: all 1s ease;
   z-index:-1;
   
}
 
.pic img:hover {
  width: 110%;
 opacity:.6;
  
  
}
.pic img:hover.pic i
{
	display:block;
	opacity:1;
}
.heading
{
	font-size:40px;
	color:grey;
	font-style:"Alpha54 Regular";
	margin:auto;
	text-align:center;
	margin:2%;
	letter-spacing: 3px;
	
	
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 5%; 
	width: 100%; 
    height: 100%;
	background-color: rgba(0,0,0,0.9); 
}


.modal-content {
    margin: auto;
    display: block;
	height:90%;
    }




.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;     
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
